@import "../../constants.css";

.navbar {
  display: flex;
  position: absolute;
  width: 90vw;
  padding: 5px;
  justify-content: space-between;
  align-items: center;
  top: 0;
  margin: 1rem;
}

.brand-logo {
  height: 2rem;
  margin-left: 2rem;
}

.navbar > a {
  color: white;
  text-decoration: none;
}

.navbar > a:hover {
  color: var(--green);
}

.contact-btn {
  border: none;
  background-color: var(--green);
  border-radius: 5px;
  padding: 1rem;
  /* font-weight: 500; */
  font-size: 15px !important;
  letter-spacing: 1px;
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.contact-btn:hover {
  color: white !important;
}
